<link rel="stylesheet" href="{{ url_for('static', filename='lab1/main.css') }}">
{% extends "base.html" %}

{% block laba %}Лабораторная 4{% endblock %}

{% block main %}
    <h1>Список пользователей</h1>
    <ul>
        {% for user in users %}
            <li>{{ user['name'] }} ({{ user['login'] }})</li>
        {% endfor %}
    </ul>
    <form action="/lab4/delete_user" method="post">
        <button type="submit">Удалить себя</button>
    </form>
    <a href="/lab4/edit_user">Редактировать свои данные</a>
    <a href="/lab4/login">Вернуться на страницу входа</a>
{% endblock %}