<form method="get">
    <div>Цвет текста:</div>
    <label>
        <input type="color" name="color" value="{{ color or '#ffffff' }}">
    </label>
    <div>Размер шрифта:</div>
    <label>
        <input type="number" name="font_size" value="{{ font_size or '16' }}">
    </label>
    <div>Шрифт:</div>
    <label>
        <select name="font_family">
            <option value="Arial" {{ 'selected' if font_family == 'Arial' }}>Arial</option>
            <option value="Times New Roman" {{ 'selected' if font_family == 'Times New Roman' }}>Times New Roman</option>
            <option value="Courier New" {{ 'selected' if font_family == 'Courier New' }}>Courier New</option>
        </select>
    </label>
    <div>
        <button type="submit">Применить</button>
    </div>
</form>
<div>
    <a href="/lab3">Вернуться</a>
    <a href="{{ url_for('lab3.clear_cookies') }}">Очистить все куки</a>
</div>