<link rel="stylesheet" href="{{ url_for('static', filename='lab1/main.css') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% extends "base.html" %}

{% block laba %}Лабораторная работа 5{% endblock %}

{% block main %}
<div class="menu">
    <h1>Статьи</h1>
    {% for article in articles %}
    <h2>{{ article['title'] }}</h2>
    <blockquote>{{ article['article_text'] }}</blockquote>
    {% endfor %}
    <a href="/lab5/">Вернуться на главную</a>
</div>
{% endblock %}