<link rel="stylesheet" href="{{ url_for('static', filename='lab1/main.css') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% extends "base.html" %}

{% block laba %}Лабораторная работа 5{% endblock %}

{% block main %}
<div class="menu">
    <h1>Создать статью</h1>
    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title">
            </label>
        </div>
        <div>
            <textarea name="article_text"></textarea>
        </div>
        <div>
            <button type="submit">Готово</button>
        </div>
    </form>
    <a href="/lab5/">Вернуться на главную</a>
</div>
{% endblock %}