{% extends 'rgz/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <h1>Регистрация</h1>
    <div class="scrollable-form">
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form method="POST">
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" required><br><br>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required><br><br>

            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required><br><br>

            <label for="service_type">Тип услуги:</label>
            <input type="text" id="service_type" name="service_type" required><br><br>

            <label for="experience">Стаж (лет):</label>
            <input type="number" id="experience" name="experience" required><br><br>

            <label for="price">Цена (руб./час):</label>
            <input type="number" id="price" name="price" required><br><br>

            <label for="about">О себе:</label><br>
            <textarea id="about" name="about" rows="4" cols="50"></textarea><br><br>

            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
    <p><a href="/rgz/">На главную</a></p>
{% endblock %}